.search-btn {
    background-color: #00303f !important;
    color: white;
    border: none;
    margin-top:6px;
    /* margin-left: 0px; */
  }

  .labels{
    top: -6px;
    font-size: 0.75em;
    color: #009688;
    font-weight: bold;
  }

 .placement-card{
   display: inline-block;
   border-top: 0.5mm;
 }

 .faculty{
   text-align: left;
 }

.spinner{
  margin: auto;
}

.table-wrapper-scroll-y{
  display: block;
}

.my-custom-scrollbar{
  position: relative;
  height: 600px;
  overflow: auto;
}