.search-btn {
    background-color: #00303f !important;
    color: white;
    border: none;
    margin-top:6px;
    /* margin-left: 0px; */
  }

  .labels{
    top: -6px;
    font-size: 0.75em;
    color: #009688;
    font-weight: bold;
  }

 .placement-card{
   display: inline-block;
   border-top: 0.5mm;
 }

 .faculty{
   text-align: left;
 }

 .spinner{
  /* position: absolute; */
  height: 100px;
  width: 100px;
  margin-top: 8%;
  margin-left: 50%;
  /* margin-left: -50px;
  margin-top: -50px; */
}
.spinner1{
  /* position: absolute; */
  height: 100px;
  width: 100px;
  margin-top: 20%;
  margin-left: 50%;
  /* margin-left: -50px;
  margin-top: -50px; */
}

.table-wrapper-scroll-y{
  display: block;
}

.my-custom-scrollbar{
  position: relative;
  height: 60vh;
  overflow: auto;
}

.btn1:active , .btn1:focus{
  opacity: 0.9;
  background-color: #76323f;
  color: white;
}

.search1{
  border-radius: 10px;
}