<div class="container ">
  <div class="row ">
    <div class="col-md-2">
      <select class="form-control" name="Year" [(ngModel)]="SelectedYear">
        <option value="">-- Select Year --</option>
        <option *ngFor="let y of academic">{{y}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <select class="form-control" name="sem" [(ngModel)]="SelectedSem">
        <option value="">-- Select Semester --</option>
        <option *ngFor="let y of semester">{{y}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" (click)="onSearch()">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
    
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
          <div *ngIf="offers && offers.length >0" class="card w3-panel w3-card">
              <div *ngFor="let o of offers">
                  Company Name : {{o[0]}}<br/>
                  Role : Software Developer<br/>
                  Salary :{{o[1]}}
              </div>
              
          </div>
      </div>

</div>
