<div class="login-container">
<div class="col-md-3 offset-3"></div>
    <div class="col-md-6 offset-3">

        <div class="login-form">

            <form>

                <div class="container form-group">
                    <h5>Login Page</h5>
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" required>

                    <button type="submit" id="exampleFormControlSelect1" (click)="loginWithTenant()">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3 offset-3"></div>

</div>